<aim-sap-comparison-page (redirectTo)="redirectHandler($event)">
  <ng-template
    [contentSlot]="{ slotName: 'shareButtons' }"
    let-shareButtonsData>
    <share-buttons
      theme="modern-dark"
      [image]="shareButtonsData.pinterestImageUrl"
      [include]="shareButtonsData.socialMedia"
      [show]="shareButtonsData.amountOfVisibleSocialMedia"
      [url]="shareButtonsData.shareComparisonUrl">
    </share-buttons>
  </ng-template>
  <ng-template [contentSlot]="{ slotName: 'addToCartButton' }" let-product>
    <cx-add-to-cart [product]="product"></cx-add-to-cart>
  </ng-template>
</aim-sap-comparison-page>
